body {
    font-family: 'Grenze Gotisch';
    background-color: #000000;
    color: #a88c00;
}

body::before {
    content: "";
    background-image: url(../images/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130%;
    position: absolute;
    z-index: -1;
    opacity: 0.15;
}

.emblema-all {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    justify-content: left;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.emblema {
    display: flex;
    align-items: center;
    max-height: 50px;
    max-width: 50px;
    justify-content: right;
}

.selecao-de-personagens {
    display: flex;
    align-items: center;
    gap: 50px;
    min-height: calc(100vh - 100px);
    justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    gap: 25px;
}

.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(63, 0, 0);
    width: 100%;
    text-align: center;
}

.lista-de-personagens .personagem img {
    width: 100px;
    height: 100px;
}

.lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 25px 20px #360000;
}

.personagem-selecionado {
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-grande {
    width: 380px;
    height: 380px;
}

.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid rgb(63, 0, 0);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}